@font-face {
	font-family: 'Russia';
	src: url('../fonts/russia.eot');
	src: local('☺'), url('../fonts/russia.woff') format('woff'), url('../fonts/russia.ttf') format('truetype'), url('../fonts/russia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Russia', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  background-color: #3464E0;
  color: #000000;
  /*min-width: 1340px;*/
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input:focus{
  color:#000000;
}

input[type="radio"] {
  display: none;
}

.header{
height: 60px;
width:100%;
}

.header-container{
    width:1330px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 18px;
    line-height:21px;
}

.menu-list{
    display: flex;
    width: 660px;
    justify-content: space-between;
    margin-top: 26px;
}

.nav-bar a{
 color: #9CBAF0;
}

.nav-bar a:hover,:focus{
    color: #FFFFFF;
}

.logo-link{
    display:block;
    margin-top: 14px;
    cursor: pointer;
}

.login_btn{
display: inline-block;
margin-top: 15px;
height:42px;
border-radius: 50px;
background-color: #1740AA;
color: #FFFFFF;
padding: 13px 33px 13px 63px;
font-size: 14px;
line-height: 16px;
position: relative;
}

.login_btn::before{
content:"";
position: absolute;
width:26px;
height: 25px;
background-image: url(../img/login.svg);
top: 8px;
left: 28px;
}

.main-content{
  margin: 0 auto;
  max-width: 890px;
 /*border: 2px solid red;*/
}

.forms-nav__wrapper{
  position: relative;
  margin: 101px auto 0;
 /* border: 2px solid green;*/
  z-index: 5;
  width: 334px;
  height: 30px;
}
.forms-nav{
  display: flex;
  justify-content: space-between;
 /* border: 2px solid red;*/
  position: absolute;
  top: 50px;
  width: 334px;
}

.forms{
position: relative;

}

.auth-block{
  width: 490px;
  height:408px;
  background-color: #FFFFFF;
  margin: 172px auto 140px;
  margin: 0 auto;
  border-radius: 4px;
  z-index: 2;
  position: relative;
}

.auth-block:before{
content: "";
width: 472px;
height: 330px;
background-image: url(../img/decor-auth.png);
position: absolute;
top: -38px;
left: 9px;
z-index: -1;
}


.auth-form{
margin-left: 70px;
padding-top: 106px;
}

.reg-form{
  margin-left: 34px;
  padding-top: 94px;
}

input::-moz-placeholder{
  color: #C3CAD6;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
} 

input::-webkit-input-placeholder{
  color: #C3CAD6;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
} 

input:-ms-input-placeholder{ 
 color: #C3CAD6;
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
} 

input:-moz-input-placeholder{ 
 color: #C3CAD6;
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
} 

input::placeholder{
 color: #C3CAD6;
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
} 

/*input::-webkit-inner-spin-button{
 color: #C3CAD6;
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
} */

.reg-block{
width: 890px;
height: 560px;
background-color: #FFFFFF;
border-radius: 4px;
margin: 0 auto 0;
position: relative;
z-index: 2;
}

.reg-block::before{
content: "";
width: 857px;
height: 554px;
position: absolute;
background-image: url(../img/decor-reg.png);
top: -38px;
left: 17px;
z-index: -1;
}

.red-star{
color:#E06364;
}

.form-title{
font-size: 26px;
line-height: 26px;
color:#C3CAD6;
font-weight: 400;
}

.field-name{
color: #444444;
font-size: 16px;
line-break: 26px;
}

.auth-field{
  width: 338px;
  height: 44px;
  padding: 10px auto 8px 16px;
  border-radius: 4px;
  border: 1px solid #F1F4F9;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]{
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: none;
      box-shadow: none;
      border: 1px solid #F1F4F9; 
    }

.content-block{
display: none;
}

.active-block{
  display: block;
}

.faded{
  opacity: 0;
  transition: ease-in 2s;
}

.faded .in{
  opacity: 1;
  transition: ease-in 2s;
}


.active-title{
  color: #3464E0;
}
